.imagemgatinhos {
    width: 400px;
    height: auto;
    display: block;
    
}

.body {
    background-color: rgb(28, 190, 190);
}

.imagemvoluntarios {
    width: 400px;
    height: auto;
    display: block;
}

.imagemdoacao {
     width: 400px;
    height: auto;
    display: block;
}

